{
  "swagger": "2.0",
  "info": {
    "description": "Guia do Desenvolvedor",
    "version": "1.0.0",
    "title": "Swagger - Linkedu - HackCom - #time18",
    "termsOfService": "https://linkedunion.io/terms/",
    "contact": {
      "email": "contato@linkedunion.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "linkedunion.io",
  "basePath": "/v1",
  "tags": [
    {
      "name": "instituicao",
      "description": "Tudo sobre Instituição",
      "externalDocs": {
        "description": "Veja mais",
        "url": "http://linkedunion.io"
      }
    },
    {
      "name": "estudante",
      "description": "Tudo sobre estudante",
      "externalDocs": {
        "description": "Veja mais",
        "url": "https://linkedunion.io"
      }
    },
    {
      "name": "projeto",
      "description": "Tudo sobre o Projeto",
      "externalDocs": {
        "description": "Veja mais",
        "url": "https://linkedunion.io"
      }
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/instituicao": {
      "post": {
        "tags": ["instituicao"],
        "summary": "Inserir uma nova instituição",
        "description": "",
        "operationId": "addInstituicao",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados da instituição",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Instituicao"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "get": {
        "tags": ["instituicao"],
        "summary": "Listar as instituição",
        "description": "",
        "operationId": "getInstituicao",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estudante"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Estudante não encontrada"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      }
    },
    "/instituicao/{id}": {
      "get": {
        "tags": ["instituicao"],
        "summary": "Encontrar Instituição por ID",
        "description": "Retorna dados da Instituição",
        "operationId": "getInstituicaoById",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da Instituição",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Instituicao"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Instituição não encontrada"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": ["instituicao"],
        "summary": "Atualizar dados da instituição",
        "description": "",
        "operationId": "updateInstituicao",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da Instituição que precisa ser atualizado",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Dados da instituição",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Instituicao"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "delete": {
        "tags": ["instituicao"],
        "summary": "Deletar uma Instituição",
        "description": "",
        "operationId": "deleteInstituicao",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID da Instituição a ser deletada",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Instituição não encontrada"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      }
    },
    "/instituicao/{id}/members": {
      "get": {
        "tags": ["instituicao"],
        "summary": "Encontrar Membros da Instituição",
        "description": "Retorna dados dos Membros da Instituição",
        "operationId": "getInstituicaoMaembers",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da Instituição",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Instituicao"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Instituição não encontrada"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": ["instituicao"],
        "summary": "Adicionar um membro",
        "description": "",
        "operationId": "addInstituicaoMember",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da Instituição",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Dados da instituição",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Members"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "409": {
            "description": "Erro"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "delete": {
        "tags": ["instituicao"],
        "summary": "Deletar um membro da Instituição",
        "description": "",
        "operationId": "deleteInstituicaoMembro",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID da Instituição a ser deletada",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Instituição não encontrada"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      }
    },
    "/instituicao/{id}/uploadImage": {
      "post": {
        "tags": ["instituicao"],
        "summary": "Atualizar Imagem",
        "description": "Atualizar Imagem",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID da Instituição",
            "required": true,
            "type": "string"
          },
          {
            "name": "additionalMetadata",
            "in": "formData",
            "description": "Additional data to pass to server",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file to upload",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      }
    },
    "/estudante": {
      "post": {
        "tags": ["estudante"],
        "summary": "Inserir um novo estudante",
        "description": "",
        "operationId": "addEstudante",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados do estudante",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Estudante"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "get": {
        "tags": ["estudante"],
        "summary": "Listar estudantes",
        "description": "Retorna os estudante",
        "operationId": "getEstudantes",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Estudante"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Estudante não encontrada"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/estudante/{id}": {
      "get": {
        "tags": ["estudante"],
        "summary": "Listar estudantes",
        "description": "Retorna dados do estudante",
        "operationId": "getEstudante",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do estudante",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Estudante"
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Estudante não encontrada"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": ["estudante"],
        "summary": "Atualizar dados do estudante",
        "description": "",
        "operationId": "updateEstudante",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do estudante à ser atualizado",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Dados do estudante",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Estudante"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "delete": {
        "tags": ["estudante"],
        "summary": "Deletar uma estudante",
        "description": "",
        "operationId": "deleteEstudante",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID do estudante a ser deletado",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Estudante não encontrada"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      }
    },
    "/projeto": {
      "post": {
        "tags": ["projeto"],
        "summary": "Inserir um novo projeto",
        "description": "",
        "operationId": "addProjeto",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Dados do projeto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Projeto"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "get": {
        "tags": ["projeto"],
        "summary": "Listar os projetos",
        "description": "",
        "operationId": "listProjeto",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Listar projetos",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Projeto"
              }
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      }
    },
    "/projeto/{id}": {
      "get": {
        "tags": ["projeto"],
        "summary": "Listar dados projetos",
        "description": "",
        "operationId": "listProjetoId",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do Projeto",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Projeto"
            }
          },
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "put": {
        "tags": ["projeto"],
        "summary": "Atualizar dados do projeto",
        "description": "",
        "operationId": "updateProjeto",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID do projeto à ser atualizado",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Dados do projeto",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Projeto"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      },
      "delete": {
        "tags": ["projeto"],
        "summary": "Deletar um projeto",
        "description": "",
        "operationId": "deleteProjeto",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "api_key",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID do proejto a ser deletado",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Projeto não encontrada"
          }
        },
        "security": [
          {
            "petstore_auth": ["write:pets", "read:pets"]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
      "flow": "implicit",
      "scopes": {
        "write:pets": "modify pets in your account",
        "read:pets": "read your pets"
      }
    },
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    }
  },
  "definitions": {
    "Members": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Nome da Organização"
        },
        "email": {
          "type": "string",
          "example": "membro-da-instituicao@email.com"
        },
        "password": {
          "type": "string",
          "example": "******"
        },
        "cargo": {
          "type": "string",
          "example": "professor",
          "enum": ["professor", "colaborador", "coordenador"]
        }
      }
    },
    "Skill": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Nome da Skill"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "hoursPrize": {
          "type": "integer",
          "example": "10"
        },
        "startDate": {
          "type": "number"
        },
        "finishDate": {
          "type": "number"
        },
        "activities": {
          "$ref": "#/definitions/Atividade"
        }
      }
    },
    "Estudante": {
      "type": "object",
      "required": ["email", "orgname", "password", "role", "about"],
      "properties": {
        "_id": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "example": "email-aluno@email.com"
        },
        "name": {
          "type": "string",
          "example": "Nome do Aluno"
        },
        "password": {
          "type": "string",
          "example": "********"
        },
        "college": {
          "type": "string",
          "example": ""
        },
        "class": {
          "type": "string",
          "example": ""
        },
        "projects": {
          "$ref": "#/definitions/Projeto"
        },
        "skills": {
          "$ref": "#/definitions/Skill"
        },
        "bio": {
          "type": "string",
          "example": "Descrição da Experiencia do Aluno"
        },
        "active": {
          "type": "boolean"
        }
      }
    },
    "Instituicao": {
      "type": "object",
      "required": ["email", "orgname", "password", "role", "about"],
      "properties": {
        "_id": {
          "type": "string"
        },
        "email": {
          "type": "string",
          "example": "email@email.com"
        },
        "orgname": {
          "type": "string",
          "example": "Nome da Organização"
        },
        "password": {
          "type": "string",
          "example": "********"
        },
        "role": {
          "type": "string",
          "description": "Tipo da Instituição",
          "enum": ["OSC", "INSTITUICAO"]
        },
        "members": {
          "$ref": "#/definitions/Members"
        },
        "active": {
          "type": "string"
        },
        "website": {
          "type": "string",
          "example": "https://www.website.com.br"
        },
        "about": {
          "type": "string",
          "example": "Descrição da instituição"
        }
      }
    },
    "Atividade": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "example": "Nome da Atividade"
        },
        "url": {
          "type": "string",
          "example": "Url link"
        },
        "description": {
          "type": "string",
          "example": "Descrição da Atividade"
        },
        "status": {
          "type": "string",
          "example": "Status Atividade",
          "enum": ["DOING", "FINISHED"]
        },
        "student": {
          "$ref": "#/definitions/Estudante"
        }
      }
    },
    "Projeto": {
      "type": "object",
      "required": ["shortDescription", "fullDescription", "org", "deadline"],
      "properties": {
        "_id": {
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "example": "Descrição simplificada do projeto"
        },
        "fullDescription": {
          "type": "string",
          "example": "Descrição completa do Projeto"
        },
        "links": {
          "type": "string",
          "example": "********"
        },
        "status": {
          "$ref": "#/definitions/Status"
        },
        "role": {
          "type": "string",
          "description": "Tipo da Instituição",
          "enum": ["OSC", "INSTITUICAO"]
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
