{
  "openapi": "3.0.1",
  "info": {
    "title": "Swagger - Linkedu - HackCom - #time18",
    "description": "Guia do Desenvolvedor.",
    "version": "1.0.0",
    "contact": {
      "email": "contato@linkedunion.io"
    }
  },
  "servers": [
    {
      "url": "https://linkedunion.io"
    }
  ],
  "tags": [
    {
      "name": "Instituição",
      "description": "Tudo sobre a instituição"
    },
    {
      "name": "Token",
      "description": "Solicitar criação do Token para acesso a áreas restritas"
    },
    {
      "name": "Logoff",
      "description": "Solicitar cancelamento do Token de acesso a áreas restritas"
    },
    {
      "name": "Oscs",
      "description": "Tudo sobre a OSCs"
    }
  ],
  "paths": {
    "/api/v1/instituicao": {
      "post": {
        "tags": ["Instituição"],
        "summary": "Insert a new Tool on list",
        "description": "Save a new tool into database",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "Object",
                "$ref": "#/components/schemas/Post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "Object",
                  "Properties": {
                    "_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "link": {
                      "type": "string"
                    },
                    "tags": {
                      "type": []
                    }
                  },
                  "example": {
                    "_id": "358123952-2e75-372f-942e-156598752a66",
                    "title": "todoist",
                    "description": "task manager",
                    "link": "https://www.todoist.com",
                    "tags": [
                      "TODO",
                      "AGENDA MANAGEMENT",
                      "ORGANIZATION",
                      "PRODUCTIVITY"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      },
      "get": {
        "security": [
          {
            "bearerToken": []
          }
        ],
        "tags": ["Instituição"],
        "summary": "Listar todas as instituições.",
        "description": "Listar todas as instituições",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "description": "Tags to filter by",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Get"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/instituicao/{id}": {
      "get": {
        "security": [
          {
            "bearerToken": []
          }
        ],
        "tags": ["Instituição"],
        "summary": "Retornar dados apenas da instituição",
        "description": "Retornar dados apenas da instituição",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of tool to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "Object",
                  "$ref": "#/components/schemas/Delete"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "delete": {
        "security": [
          {
            "bearerToken": []
          }
        ],
        "tags": ["Instituição"],
        "summary": "Remove a Tool from database",
        "description": "Sack out a tool you may not like anymore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of tool to be deleted",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "Object",
                  "$ref": "#/components/schemas/Delete"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/v1/oscs": {
      "post": {
        "tags": ["Oscs"],
        "summary": "Insert a new Tool on list",
        "description": "Save a new tool into database",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "Object",
                "$ref": "#/components/schemas/Post"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "Object",
                  "Properties": {
                    "_id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "link": {
                      "type": "string"
                    },
                    "tags": {
                      "type": []
                    }
                  },
                  "example": {
                    "_id": "358123952-2e75-372f-942e-156598752a66",
                    "title": "todoist",
                    "description": "task manager",
                    "link": "https://www.todoist.com",
                    "tags": [
                      "TODO",
                      "AGENDA MANAGEMENT",
                      "ORGANIZATION",
                      "PRODUCTIVITY"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "bearerToken": []
          }
        ]
      }
    },
    "/api/v1/token": {
      "post": {
        "tags": ["Token"],
        "summary": "JWT Token that give access to application routes",
        "description": "30 Minutes valid token to attach on the Authorization header of your request",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "Object",
                  "Properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/logoff": {
      "post": {
        "tags": ["Logoff"],
        "summary": "Revogar o token de acesso",
        "description": "",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "Object",
                  "Properties": {
                    "token": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...."
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Post": {
        "type": "Object",
        "Properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "tags": [
            {
              "type": "string"
            }
          ]
        },
        "example": {
          "title": "todoist",
          "description": "task manager",
          "link": "https://www.todoist.com",
          "tags": ["Todo", "Agenda management", "organization", "productivity"]
        }
      },
      "Get": {
        "type": "Object",
        "Properties": {
          "_id": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        },
        "example": {
          "title": "todoist",
          "description": "task manager",
          "link": "https://www.todoist.com",
          "tags": ["Todo", "Agenda management", "organization", "productivity"]
        }
      },
      "Delete": {
        "type": "Object",
        "Properties": {
          "Error": {
            "type": "string"
          }
        },
        "example": {
          "Error": "Not found a record for id: 1212-6421kq-12316"
        }
      }
    },
    "securitySchemes": {
      "bearerToken": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
